<div [formGroup]="form">
    <div class="form-group">
        <label for="adhar">Adhar</label>
        <input
            type="number"
            formControlName="adhar"
            id="adhar"
            class="form-control"
            [ngClass]="{ 'is-invalid': adharControl.touched && adharControl.errors }"
        />
    </div>
</div>
<div *ngIf="adharControl.touched && adharControl.errors" class="invalid-feedback">
    <div *ngIf="adharControl.errors.required">Adhar is required</div>
    <div *ngIf="adharControl.errors.wrongCount as wrongCount">
        Sorry, you type {{ wrongCount }} digits, need to type {{ adharControl.errors.count }} instead
    </div>
</div>
