<ag-grid-angular
    style="width: 800px; height: 300px"
    class="ag-theme-alpine"
    rowAnimation
    pagination
    (gridReady)="onGridReady($event)"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
>
</ag-grid-angular>

<div class="form-group">
    <a routerLink="/users-graph" class="btn btn-link">Graph</a>
</div>

<ng-container *cdkPortal>
    <div class="container">
        <p class="total">Total:</p>
        <p class="total">${{ users | total }}</p>
    </div>
</ng-container>
